{% extends 'base.html' %}
{% load static %}
{% block title %}
  Profile
{% endblock %}
{% block content %}

<h1> {{page_user}}'s  Profile</h1>

<br><br>
<div class="card mb-3">
  <div class="row no-gutters"> 

      <div class="col-md-3 p-3">
        {% if page_user.profile_pic %} 
          <img class="card-img-top" src=" {{page_user.profile_pic.url}} " style="height: 200px; width: 200px;"> 
        {% else %}
          <img src=" {% static 'theblog/images/pro.png' %} " style="height: 200px; width: 200px;">
        {% endif %}
      </div> 
      <div class="col-md-9 px-3"> 
        <div class="card-body"> 
          <h5 class="card-title">{{page_user.user.first_name}} {{page_user.user.last_name}}</h5> 
          {% if page_user %} <a href=" {% url 'edit_profile_page' user.profile.id %} ">Edit Profile</a> {% endif %}
          {% if page_user.website_url %}- <a href=" {{page_user.website_url}} ">Website</a> {% endif %}
          {% if page_user.facebook_url %}- <a href=" {{page_user.facebook_url}} ">Facebook</a> {% endif %}
          {% if page_user.youtube_url %}- <a href=" {{page_user.youtube_url}} ">Youtube</a> {% endif %}
          {% if page_user.instagram_url %}- <a href=" {{page_user.instagram_url}} ">Instagram</a> {% endif %}
          {% if page_user.linkedin_url %}- <a href=" {{page_user.linkedin_url}} ">Linkedin</a> {% endif %}
          {% if page_user.twitter_url %}- <a href=" {{page_user.twitter_url}} ">Twitter</a> {% endif %}
          {% if page_user.bio %} <p class="card-text">{{page_user.bio}}</p>  {% endif %}
        </div> 
      </div> 

  </div>
</div>


{% endblock %}