{% extends 'base.html' %}
{% block title %}
  Blog
{% endblock %}
{% block content %}

<div class="row">

  {% for post in object_list %}
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <a href=" {% url 'article-detail' post.pk %} " class="card-title" style="font-size: 1.5rem;">{{post.title}}</a> <br>
        <small>Category: <a href=" {% url 'category' post.category %} "> {{post.category}}</small></a> <br>
        <small>By: {{post.author.first_name}} {{post.author.last_name}}</small>
        <hr>
        <p class="card-text"> {{post.snippet}}  <!-- {{post.body|slice:":100"|safe}} --> </p> 
        <small> 
          {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
            <hr>
              <a href=" {% url 'update_post' post.pk %} " class="btn btn-info">Edit</a>
              <a href=" {% url 'delete_post' post.pk %} " class="btn btn-danger">Delete</a>
            {% endif %}
          {% endif %}
        </small>
      </div>
    </div><br>
  </div> 
  {% endfor %}

</div>

{% endblock %}