{% extends 'base.html' %}
{% block title %}
Edit Post
{% endblock %}
{% block content %}

<div class="row py-5">
  <div class="text-center col-md-4 offset-md-4">
{% if user.is_authenticated %}
  {% if user.id == post.author.id %}
    <h1> {{post.title}} </h1>
    <div class="form-group">
      <form method="POST">
        {% csrf_token %}
        <strong>Are You Sure ? </strong>
        <button class="btn btn-danger px-5"> Delete </button><strong> This Post !</strong>
      </form>
    </div>
  {% else %}
    sorry
  {% endif %}
{% else %}
  Please login
{% endif %}
  </div>
</div>

{% endblock %}